
footer {
    text-align: center;
    background-color: #212121;
    color: #a1a1a1 !important;
    height: 18em;
    font-size: 0.8em;
}

a {
    color: #a1a1a1 !important;
}

.contact-container {
    line-height: 0.4em;
    padding: 2em 1em;
    height: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* footer {
    width: 100%;
    background-color: #2B2D42;
    color: white !important;
    padding: 1em 4em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

i {
    color: white;
    font-size: 1.3em;
    margin: 0 0.2em;
}

i:hover {
    opacity: 0.8;
}

.stay-in-touch {
    display: flex;
    font-weight: bolder;
}

p {
    margin-right: 0.5em;
    color: white;
}

.copyright {
    font-weight: lighter;
} */
