<section>
  <div class="contact-us-container">

  <div class="inner-contact-us-container">

    <h2>Contact Us</h2>

    <form>

      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
        </div>
      </div>

      <br>


      <div class="mb-3">
        <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
        <input type="email" class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp" placeholder="Email address">
      </div>


      <div class="input-group">
        <!-- <span class="input-group-text">Message</span> -->
        <textarea class="form-control" aria-label="Message" rows="9" placeholder="Message" required></textarea>
      </div>


      <br>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

  </div>
</section>
