




<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid nav-container">
      <a class="navbar-brand logo" [routerLink]="['/']" >
        <div class="logo-container">
          <img src="../../assets/images/Logo.png" alt="Logo" class="icon"> <br>
          <img src="../../assets/images/tagline.png" alt="Tagline" class="tagline">
      </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

      <div class="list-container">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              TEAMS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li *ngFor="let team of teams"><a class="dropdown-item" href="#teams">{{ team.name }}</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#schedule">FIXTURES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#results">RESULTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#table">TABLE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link about-us" href="#about-us">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">CONTACTS</a>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </nav>
