<section>
<div class="schedule-container">
    <div class="header">
        <h2>
            Fixtures
        </h2>
    </div>


    <div class="fixture-table-container">
        <table border="0" cellspacing="0" cellpadding="0" class="table">
          <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Pitch</th>
                <th scope="col">Home</th>
                <th scope="col">Away</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of schedules">
                <td>{{ schedule.date }}</td>
                <td>{{ schedule.time }}</td>
                <td>{{ schedule.pitch }}</td>
                <td>{{ schedule.home }}</td>
                <td>{{ schedule.away }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</section>
