.schedule-container {
    height: 100vh;
    padding: 4.5em;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.fixture-table-container {
  overflow-x:auto
}

table {
    width: 100%;
    margin-top: 2em;
    border-radius: 3em;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.04);
    border-collapse: collapse;
}



th, td {
    padding: 1.5em 2em;
}

th {
  background: #0D1E29;
  color: #fff;
}


@media (max-width: 600px) {
  .schedule-container  {
    padding: 4em 2em;
  }
}
