.teams-container {
  /* height: 110vh; */
  padding: 4.5em;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.card-text-container {
  margin-top: 60%;
  background-color: rgba(0, 0, 0, 0.8);
}

.card-title {
  font-size: 100% !important;
}

.card {
  margin: 1em auto;
  border: none;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  opacity: .9;
}
