<section>
  <div class="teams-container">

    <h2>Teams</h2>

    <div class="teams-card-container">

    <div class="row">
      <div class="col-md-3 card-container" *ngFor="let team of teams" >
        <div class="team">
          <div class="card bg-dark text-white">
            <img [src]="'../../assets/images/Team-Images/' + team.image" class="card-img">
            <div class="card-img-overlay card-text-container">
              <h5 class="card-title">{{ team.name }}</h5>
              <p class="card-text"> {{ team.description }} </p>
            </div>
          </div>
        </div>
      </div>



    </div>



    </div>
  </div>
</section>
