<section>
  <div class="teams-container">

    <h2>Teams</h2>


    <!-- Team data displayed directly from FireStore -->
    <div class="teams-card-container">

      <div class="row">
        <div class="col-md-3 card-container" *ngFor="let team of teams | async " >
          <div class="team">
            <div class="card bg-dark text-white">
              <img [src]="team.picture" class="card-img">
              <div class="card-img-overlay card-text-container">
                <h5 class="card-title">{{ team.name }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
