
<div class="main-container">

    <div class="landing-page">
    
      <app-scroll-top></app-scroll-top>

      <app-navbar></app-navbar>


        <div class="landing-details-container">
            <h1>
                Join<br>the League<br>today
                <a href="#">
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </a>
            </h1>
        </div>

    </div>

    <app-teams id="teams"></app-teams>
    <app-schedules id="schedule"></app-schedules>
    <app-results id="results"></app-results>
    <app-table id="table"></app-table>
</div>


<!-- <div class="main-container">
  <section>
    <div class="landing-page-container">
      <div class="texts">
        <div class="text-container">
          <h1>
            Sheridan Park <br />
            Recreational <br />
            Soccer League
          </h1>

          <button class="join-btn">Join the league today!</button>
        </div>
      </div>

      <div class="landing-image">
        <img src="../../assets/images/LandingImages.png" alt="Hero Images" />
      </div>
    </div>
  </section>
</div> -->
