.main-container {
    width: 100%;
}

.landing-page {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/BG-Image.png);
    /* background-attachment: fixed; */
    background-size: cover;

}

.landing-details-container {
    padding:  4.5em;
}

.landing-details-container h1 {
    color: #fff;
    font-weight: 900;
    font-size: 4.5em;
}

.landing-details-container a {
    /* font-size: -4em; */
    color: #fff;
    transition: 0.2s ease-in-out;
}

.landing-details-container a:hover {
    opacity: 0.9;
    text-shadow: 2px 15px 30px rgba(0, 0, 0);
    left: 200px;
}

app-teams {
  z-index: -1;
}

app-scroll-top {
  z-index: 10;
}


@media (max-width: 600px) {
  .landing-details-container {
    padding: 4.5em 2.5em;
  }
}

